<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h2>create a new chat from here..</h2>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="enter your name">
        <br>
        <textarea name="message" id="" cols="30" rows="10">enter your message here</textarea>
        <br>
        <input type="text" name="to" placeholder="enter the receiver name">
        <br>
        <button>submit</button>
    </form>
</body>
</html>